raw_data/*
.vscode/*
*.pyc
local_*.ipynb
.cache/*
wandb/*
.ipynb_checkpoints/*
.ipynb_checkpoints/
build/*

vctk/*/
data/
MICEMOUSE/
AudioMNIST/data*/
AudioMNIST/csv*/

AudioMNIST/result*/
AudioMNIST/recording_scripts/
AudioMNIST/models*/
AudioMNIST/noise*/
AudioMNIST/gen*/



test.flac
*.pt
